<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cuong_Test::brandmodule" title="Cuong Module" module="Cuong_Test" sortOrder="41"
             resource="Cuong_Test::menu"/>
        <add id="Cuong_Test::parent" title="Cuong Post" module="Cuong_Test" sortOrder="10"
             resource="Cuong_Test::menu" parent="Cuong_Test::brandmodule"/>
        <add id="Cuong_Test::brand" title="Manage Posts" module="Cuong_Test" sortOrder="10"
             action="cuong/brand/addnew" resource="Cuong_Test::brand"
             parent="Cuong_Test::parent"/>
        <add id="Cuong_Test::configuration" title="Configuration" module="Cuong_Test" sortOrder="20"
             parent="Cuong_Test::parent" action="adminhtml/system_config"
             resource="Cuong_Test::parent"/>
    </menu>
</config>
